<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.trovo.perte" version="2.0.3" >		
		
    <name>Trovo per te</name>
    <description>
        Trovo per te: il portale creato apposta per te, per trovare in mondo facile e veloce quello che ti serve nel tuo territorio.
    </description>
	<icon  src="icon.png"  />
	<icon src="icon-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="icon-57@2x.png" gap:platform="ios" width="114" height="114" />
	<!-- iPhone / iPod Touch  -->
	<icon src="icon-60.png" gap:platform="ios" width="60" height="60" />
	<icon src="icon-60@2x.png" gap:platform="ios" width="120" height="120" />

	<!-- iPad -->
	<icon src="icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icon-72@2x.png" gap:platform="ios" width="144" height="144" />
	<icon src="icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="icon-76@2x.png" gap:platform="ios" width="152" height="152" />
	
	<!-- Settings Icon -->
	<icon src="icon-small-40.png" gap:platform="ios" width="29" height="29" />
	<icon src="icon-small-40@2x.png" gap:platform="ios" width="58" height="58" />
	
	<!-- Spotlight Icon -->
	<icon src="icon-40.png" gap:platform="ios" width="40" height="40" />
	<icon src="icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <author email="p.guglielmo@mvitalia.com" href="http://www.mvitalia.com/">
        MVItalia team
    </author>
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
    <preference name="DisallowOverscroll" value="true" />
	<preference name="LoadUrlTimeoutValue" value="10000"/>
	<preference name="LoadingDialog" value="Attendere"/>
	<preference name="AllowInlineMediaPlayback" value="true"/>
	<preference name="SplashScreenDelay" value="2000"/>
	<preference name="KeepRunning" value="true"/>
	
	
	
	<gap:splash src="splash.png"/>
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:qualifier="port-ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:qualifier="port-mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:qualifier="port-hdpi" />
	<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:qualifier="port-xhdpi" />
	<gap:splash src="splash/android/xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
	
	<gap:splash src="splash/android/ldpi_landscape.png" gap:platform="android" gap:qualifier="land-ldpi" />
	<gap:splash src="splash/android/mdpi_landscape.png" gap:platform="android" gap:qualifier="land-mdpi" />
	<gap:splash src="splash/android/hdpi_landscape.png" gap:platform="android" gap:qualifier="land-hdpi" />
	<gap:splash src="splash/android/xhdpi_landscape.png" gap:platform="android" gap:qualifier="land-xhdpi" />
	
	<!-- iPhone and iPod touch -->
	<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />

	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
	
	<!-- iPad -->
	<gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
	
	<!-- Retina iPad -->
	<gap:splash src="splash/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="splash/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />	
	
	<!--Plugins-->
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
	<gap:plugin name="com.danielcwilson.plugins.googleanalytics" />
	<gap:plugin name="com.evothings.ble" version="1.0.0" />
	
    <!-- for iOS -->
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
	<feature name="NetworkStatus">
		<param name="ios-package" value="CDVConnection" />
	</feature>
	<feature name="UniversalAnalytics">
	  <param name="ios-package" value="UniversalAnalyticsPlugin" />
	</feature>
	

    <!-- for Android (you will find one in res/xml) -->
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
	<feature name="NetworkStatus">
		<param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
	</feature>
	
    <!-- for Windows Phone -->
    <feature name="SocialSharing">
        <param name="wp-package" value="SocialSharing"/>
    </feature>
	
	<feature name="UniversalAnalytics">
	  <param name="android-package" value="com.danielcwilson.plugins.analytics.UniversalAnalyticsPlugin" />
	</feature>
	
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<access origin="*" />	
	
</widget>